{% extends "!layout.html" %}
{% block extrahead %}
<script type="text/javascript" src="_static/prototype.js"></script>
<script type="text/javascript" src="_static/prototip.js"></script>
<script type="text/javascript" src="_static/wizards_1.js"></script>
<link href="_static/prototip.css" type="text/css" rel="stylesheet">
<link href="_static/mtg_styles.css" type="text/css" rel="stylesheet">

{% endblock %}
{% block footer %}
{{ super() }}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.kozaczko.info/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "11"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
<noscript>
<!-- Piwik Image Tracker -->
<img src="http://stats.kozaczko.info/piwik.php?idsite=11&amp;rec=1&action_name=MTG+pl" style="border:0" alt="" />
<!-- End Piwik -->
</noscript>
{% endblock %}
